<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.tarsier.tarsier" >

    <!-- Min 14 is needed to support Wi-Fi Direct. -->
    <uses-sdk android:minSdkVersion="14" />
    <!-- Request permission to use the Wi-Fi hardware . -->
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProfilePictureActivity"
            android:label="@string/title_activity_add_profile_picture"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile">
        </activity>
    </application>

</manifest>
